/* main page*/

.clothesPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 30px;
}

/* hierarchy*/

.hierarchy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.hierarchy a {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 13px;
    color: #696969;
}

/* left filtr*/

.filtrationClothes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-top: 30px;
}

.filtr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 550px;
    font-family: a_AvanteTitlerCpsUpC;
}

.filtr a {
    font-size: 13px;
    color: #696969;
}

/* filtration clothes*/

.sort {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.pointSort {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    width: 500px;
}

/* all filtrs*/

.attributesSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 730px;
}

.buttonSection-1,
.buttonSection-2,
.buttonSection-3,
.buttonSection-4,
.buttonSection-5,
.buttonSection-6,
.buttonSection-7,
.buttonSection-8 {
    border: 2px solid #D9DADA;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 14px;
}

.buttonSection {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 14px;
}

/* popup sectons sort*/

/*Popularity*/

.onPopularity {
    display: flex;
    display: none;
    background-color: #D9DADA;
    position: absolute;
    top: 340px;
    left: 375px;
    width: 180px;
    height: 180px;
}

.Popularity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    height: 125px;
    margin-top: 20px;
    margin-left: 15px;
}

/*materials*/

.materials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: absolute;
    top: 340px;
    left: 532px;
    width: 220px;
    height: 220px;
}

.allMaterials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*Colour*/

.colour {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: absolute;
    top: 340px;
    left: 642px;
    width: 220px;
    height: 220px;
}

.allColour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*size*/

.size {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: absolute;
    top: 340px;
    left: 715px;
    width: 220px;
    height: 220px;
}
.allSize {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*brand*/

.brand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: absolute;
    top: 340px;
    left: 802px;
    width: 220px;
    height: 220px;
}

.allBrands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/* price */

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9DADA;
    display: none;
    width: 260px;
    height: 110px;
    z-index: 160;
    position: absolute;
    top: 340px;
    left: 883px;
}

.changePrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 260px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.enterPrice {
    width: 50px;
    height: 19px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #8d8d8d;
}


.changePriceFrom,
.changePriceTo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 120px;
}

/*style*/

.style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    background-color: #D9DADA;
    position: absolute;
    top: 340px;
    left: 960px;
    width: 180px;
    height: 180px;
}

.allStyles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*pattern*/

.pattern {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: absolute;
    top: 340px;
    left: 1043px;
    width: 220px;
    height: 220px;
}

.allPattern {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*apply*/

.applyPosition {
    display: flex;
    flex-direction: row;
    width: 185px;
    height: 30px;
    margin-left: 15px;
}

.apply {
    background-color: #A79ECD;
    border-radius: 5px;
    box-shadow: none;
    width: 90px;
    height: 22px;
    border: none;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 14px;
    margin-left: 75px;
}

/* apply for price */

.applyPositionPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 260px;
    height: 30px;
}

.applyPrice {
    background-color: #A79ECD;
    border-radius: 5px;
    box-shadow: none;
    width: 90px;
    height: 22px;
    border: none;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 14px;
}

/* button icon for "filtration"*/

.arrow {
    width: 8px;
    height: 8px;
    margin-left: 4px;
}

/* img for choice of clothes*/

.sortImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 34px;
    width: 900px;
    height: 1800px;
}

.choiceClothes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blockImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sortImg p {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 13px;
}

/* img for "choice of clothes" */

.otherClothes {
    width: 215px;
    height: 324px;
}

/* others */

h3 {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 17px;
}

/* checkbox*/

/*.gtr{
    display: block;
    line-height: 24px;
    padding: 12px 15px;
    cursor: pointer;
    float:left;
}
.gtr + .gtr {
    border-top: 1px solid #f0f2f3;
  }
.checkbox{
    display: none;
}
.checkbox-custom{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    width: 10px;
    height: 10px;
    border: 2px solid red;
    border-radius: 12px;
}
.checkbox-custom:before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -6px;
    height: 4px;
    width: 8px;
    border: solid #39ca74;
    border-width: 0 0 4px 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
.checkbox:checked ~ .mrt {
    border-color: #39ca74;
  }
  
.checkbox:checked ~ .mrt:before {
    display: block;
  }

.label{
    font-weight: bold;
    color: #39A9E1;
}
.checkbox:checked ~ .lst {
    color: #34bf6e;
  }*/

/* changeimg on mouseover*/