/* main page*/

.clothesPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 30px;
}
/* hierarchy*/
.hierarchy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.hierarchy a {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 13px;
    color: #696969;
}
/* left filtr*/
.filtrationClothes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-top: 30px;
}

.filtr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 550px;
    font-family: a_AvanteTitlerCpsUpC;
}

.filtr a {
    font-size: 13px;
    color: #696969;
}

/* filtration clothes*/
.sort {
    display: flex;
    flex-direction: column;
    width: 900px;
}
.pointSort {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    width: 500px;
}
/* all filtrs*/
.attributesSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 730px;
}

.buttonSection-1,
.buttonSection-2,
.buttonSection-3,
.buttonSection-4,
.buttonSection-5,
.buttonSection-6 .buttonSection-7,
.buttonSection-8 {
    border: 2px solid #D9DADA;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 14px;
}

.buttonSection {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 14px;
}


/* popup sectons sort*/

/*Popularity*/

.onPopularity {
    display: flex;
    display: none;
    background-color: #D9DADA;
    position: fixed;
    top: 340px;
    left: 375px;
    width: 180px;
    height: 180px;
}

.Popularity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    height: 125px;
    margin-top: 20px;
    margin-left: 15px;
}

/*materials*/

.materials {
    display: flex;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: fixed;
    top: 340px;
    left: 532px;
    width: 220px;
    height: 220px;
}

.allMaterials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*Colour*/

.colour {
    display: flex;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: fixed;
    top: 340px;
    left: 642px;
    width: 220px;
    height: 220px;
}

.allColour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*size*/

.size {
    display: none;
}

/*brand*/

.brand {
    display: flex;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: fixed;
    top: 340px;
    left: 802px;
    width: 220px;
    height: 220px;
}

.allBrands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}
/* price */
.price {
    display: none;
}

/*style*/

.style {
    display: flex;
    display: none;
    background-color: #D9DADA;
    position: fixed;
    top: 340px;
    left: 960px;
    width: 180px;
    height: 180px;
}

.allStyles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/*pattern*/

.pattern {
    display: flex;
    background-color: #D9DADA;
    display: none;
    z-index: 160;
    position: fixed;
    top: 340px;
    left: 1043px;
    width: 220px;
    height: 220px;
}

.allPattern {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 150px;
    overflow-x: auto;
    margin-left: 15px;
    margin-top: 20px;
}

/* button icon for "filtration"*/

.arrow {
    width: 8px;
    height: 8px;
    margin-left: 4px;
}



/* img for choice of clothes*/
.sortImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 34px;
    width: 900px;
    height: 1800px;
}
.choiceClothes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blockImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sortImg p {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 13px;
}
/* img for "choice of clothes" */
.otherClothes {
    width: 215px;
    height: 324px;
}
/* others */
h3 {
    font-family: a_AvanteTitlerCpsUpC;
    font-size: 17px;
}